.App {
  text-align: center;
}


header{
  background-color: #65C2C1;
  margin: 30px auto;
  padding: 10px;
  height: 40px;
  width: 70%;
  
}


.headerLinks {
margin-top: 0px;
font-family: "Monospace";
font-variant: small-caps;
font-style: oblique;
display: flex;
  flex-wrap: wrap;
justify-content: space-between;
flex-direction: row;
}