.App {
  text-align: center;
}


/* header{
  background-color: #65C2C1;
  margin: 30px auto;
  padding: 10px;
  height: 40px;
  width: 70%;
  
} */


.headerLinks {
margin-top: 0px;
font-family: "Monospace";
font-variant: small-caps;
font-style: oblique;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
flex-direction: row;
font-size: 30px;
}

.signBtn{
  /* margin: 28% 9% 7% 13%; */
  position: absolute;
  top: 50%;
  right: 30%;
  /* bottom: 0%; */
  z-index: 52;
}

