.appName {
  font-family: "Monospace";
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  font-style: oblique;
  font-size: 100px;
  margin-top: 0;
  margin-bottom: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: underline;
  position: relative;
  /* z-index: 8; */
}

::placeholder{
  color: white;
  font-size: 12px;
}