body, .root, .App {
  height: 100vh;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

.headerLinks {
margin-top: 0px;
font-family: "Monospace";
font-variant: small-caps;
font-style: oblique;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
flex-direction: row;
font-size: 30px;
}

.signBtn{
  /* margin: 28% 9% 7% 13%; */
  /* position: absolute;
  top: 38vh;
  right: 30vh; */
  /* bottom: 0%; */
    /* color: #1da1f2; */
    border-radius: 100px;
    border-color: #1da1f2;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    /* line-height: 20px; */
    /* position: relative; */
    text-align: center;
    width: 70px;
    height: 40px;
    z-index: 52;
}

