.container {
    background-image: url(https://premiumbpthemes.com/images/clipart-camera-square-8.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    /* background-position: center; */
    display: grid;
    grid-template-columns: 50% 50%;
}

.AppTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 90vh;
    align-items: center;
}

#login {
    
}