body {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: #81907D; */
  }

.container {
    background-image: url(https://premiumbpthemes.com/images/clipart-camera-square-8.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    /* background-position: center; */
    display: grid;
    grid-template-columns: 50% 50%;
}

.AppTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 90vh;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
}