body {
    height: 90vh;
    margin: 0;
    padding: 0;
  }

.container {
    background-image: url(https://premiumbpthemes.com/images/clipart-camera-square-8.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 34% 115%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.AppTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 90vh;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color:#5BB2B1;
    margin-top: 34px;
    margin-bottom: 114px;
    margin-left: -60px;
    /* z-index: 6; */
}

.loginBtn, .signBtn {
    /* border-radius: 100px; */
    padding: 6px 16px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    position: relative; 
    margin-top: 20px;
    width: 300px;
}

.signBtn:hover, .loginBtn:hover{
  background-color: rgba(54,21,43);  
}

.loginBtn {
    text-decoration: underline;
}

.login {
    width: 25%;
    color: currentColor;
    width: 100%;
    border: 2;
    border-color: #36152b;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    background: none;
    text-align: center;
}

.signInicon {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin: -30% 0% 25% 30%;
}

#lock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* border: 0px solid #36152b;
    border-radius: 0%; */
    font-size: 25px;
    margin-left: 30px;;
}
